<style>
    body{
      max-width: 1200px;
      margin: 20px auto;
      padding: 0 20px;
      font-family: 'Noto Serif', serif;
    }
    p, h1, h2, h3, a, ul{
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: #222;
    }

    /* nav styles*/
    nav{
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
      text-transform: uppercase;
    }
    nav ul{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    nav li{
      list-style-type: none;
      margin-left: 20px;
    }
    nav h1{
      font-size: 3em;
    }
    nav p, nav a{
      color: #777;
      font-weight: 300;
    }
</style>
<nav>
    <div class="site-title">
        <a href="/"><h1>The Relaxing Koala</h1></a>
        <p> The best restaurant in town</p>
    </div>
    
    <ul>
        <li><a href="/">Home</a> </li>
        <li><a href="/menu">Menu</a> </li>
        <li><a href="/order">Make an order</a> </li>
        <li><a href="/Reservation">Make a reservation</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>