footer {
    background-color: #333;
    color: #fff;
    padding: 20px, 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;

}

footer p {
    margin: 0;
    padding: 20px;;
}