.menu-page {
    align-items: center;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #f8f8f8;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .menu-container {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  
  @media (max-width: 768px) {
    .menu-container {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
  
  @media (max-width: 480px) {
    .menu-container {
      grid-template-columns: 1fr;
    }
  }
