/* General styling for the navbar container */
.navbar-container {
  background-color: #eff0e8;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0, 1rem;
  margin-bottom: 10px;

  text-align: center;
}

.navbar-container h1 {
  margin: 1rem;
  font-size: 2rem;
  padding: 1rem;
}

/* Styling for the navigation menu */
.navbar-container ul {
  list-style-type: none;
  display: flex;
}

.navbar-container ul li {
  display: inline;
  margin-right: 1rem;
}

.navbar-container ul li a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  color: #000;
  padding: 5px;
  border-radius: 5px;

}

.navbar-container ul li a:hover {
  color: #fff;
  background-color: #777;

}