.reservation-container {
    display: inline-block;
}

.reservation-card {
    display: inline-block;
    max-width: 250px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #979595;
}