<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
  <link rel="stylesheet" href="css/menu.css">
</head>

<body>
  <%- include('./Partials/navbar.ejs')  %>

    <h1> Our menu </h1>
    <div class="menu-container">
        <header>
            <h1>The Relaxing Koala</h1>
            <p class="tagline">Exquisite Dining Experience</p>
        </header>
        
        <section class="menu-section">
            <h2>Entrees</h2>
            <ul>
                <li>Prawn Cocktail - $12 <span>Fresh prawns served with a tangy cocktail sauce</span></li>
                <li>Garlic Bread - $5 <span>Grilled bread with garlic butter and herbs</span></li>
            </ul>
        </section>

        <section class="menu-section">
            <h2>Mains</h2>
            <ul>
                <li>Beef Lasagna - $18 <span>Layered pasta with rich beef sauce, topped with béchamel and cheese</span></li>
                <li>Chicken Parmigiana - $17 <span>Breaded chicken breast, marinara sauce, and melted mozzarella cheese</span></li>
            </ul>
        </section>
        
        <section class="menu-section">
            <h2>Desserts</h2>
            <ul>
                <li>Fatto Tiramisu - $7 <span>Coffee liqueur-soaked sponge, mascarpone, chocolate</span></li>
                <li>Scugnizielli Nutella & Gelato - $7.5 <span>Fried mini pizza doughnuts, Nutella, vanilla gelato</span></li>
                <li>Affogato - $6 <span>Vanilla gelato, espresso</span></li>
                <li>Affogato Limoncello (vg) - $7.5 <span>Lemon sorbet, limoncello</span></li>
            </ul>
        </section>
        <section class="menu-section">
            <h2>Drinks</h2>
            <ul>
                <li>Limoncello 35ml - $4</li>
                <li>Espresso - $2.5</li>
                <li>Macchiato - $2.5</li>
                <li>Amaro del Capo 35ml - $4</li>
            </ul>
        </section>
    </div>

    <%- include('./Partials/footer.ejs') %>
</body>

</html>